In [14]:
import pandas as pd
import sqlite3
import zipfile

In [4]:
! ls

CONTRIBUTING.md
LICENSE.md
README.md
Yue's_copy.ipynb
awesome.gif
movie_data_erd.jpeg
student.ipynb
zippedData

In [15]:
with zipfile.ZipFile('./zippedData/im.db.zip') as zipObj:
    zipObj.extractall(path='./zippedData/')

In [151]:
con = sqlite3.connect('zippedData/im.db')
cursor = con.cursor()

In [152]:
schema_df = pd.read_sql("""
                        SELECT *
                        FROM sqlite_master """, con)
schema_df

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [153]:
df_rating = pd.read_sql("""
                        SELECT *
                        FROM movie_ratings """, con)
df_rating.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [154]:
df_basics = pd.read_sql("""
                        SELECT *
                        FROM movie_basics """, con)
df_basics.head(50)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,None
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
22,tt0253093,Gangavataran,Gangavataran,2018,134.0,None
23,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary
25,tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary
26,tt0263814,On kadin,On kadin,2019,NaN,Drama
27,tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama"
28,tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History"
29,tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi
30,tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy
31,tt0285423,Abolição,Abolição,2019,NaN,Documentary
32,tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller
33,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy"
34,tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama"
35,tt0306058,Second Coming,Second Coming,2012,95.0,None
36,tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance"
37,tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi"
38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama"
39,tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror"
40,tt0326592,The Overnight,The Overnight,2010,88.0,None
41,tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller"
42,tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family"
43,tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance"
44,tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,None
45,tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,None
46,tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama"
47,tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy"
48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance"
49,tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama"

In [158]:
df_basics.loc[df_basics['movie_id']=='tt1042974']

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
4721,tt1042974,Just Inès,Just Inès,2010,90.0,Drama

In [132]:
movie_title_rating = pd.read_sql("""
                                    SELECT 
                                        movie_ratings.movie_id, movie_ratings.averagerating, movie_akas.title
                                    FROM 
                                        movie_ratings
                                        LEFT JOIN movie_akas
                                            ON movie_ratings.movie_id = movie_akas.movie_id
                                    
                                    GROUP BY
                                        movie_ratings.movie_id""", con)
movie_title_rating.sort_values(by='averagerating', ascending=False).head(50)

,movie_id,averagerating,title
51109,tt5089804,10.0,Fly High: Story of the Disc Dog
65944,tt7259300,10.0,Calamity Kevin
71577,tt8730716,10.0,None
73616,tt9715646,10.0,None
65755,tt7227500,10.0,Ellis Island: The Making of a Master Race in A...
878,tt10378660,10.0,None
64646,tt6991826,10.0,A Dedicated Life: Phoebe Brand and the Legacy ...
9745,tt1770682,10.0,Freeing Bernie Baran
702,tt10176328,10.0,Exteriores: Mulheres Brasileiras na Diplomacia
49925,tt4944240,10.0,Dog Days in the Heartland
53408,tt5344358,10.0,All Around Us
42970,tt4109192,10.0,I Was Born Yesterday!
27335,tt2632430,10.0,Hercule contre Hermès
60782,tt6295832,10.0,Requiem voor een Boom
53689,tt5390098,10.0,Atlas Mountain: Barbary Macaques - Childcaring...
50085,tt4960818,10.0,Revolution Food
73741,tt9820678,9.9,None
73797,tt9866708,9.9,None
73343,tt9537008,9.9,None
73648,tt9743544,9.9,None
73650,tt9747294,9.9,None
36077,tt3450432,9.8,Send My Mail to Nashville
73809,tt9880724,9.8,None
50463,tt5012400,9.8,"Bouts de vies, bouts de rêves"
888,tt10404502,9.8,None
42084,tt4023464,9.8,Our Friend Jon
64485,tt6961300,9.8,Goreci skof
72266,tt8986906,9.8,RISE: The Story of Augustines
23014,tt2357225,9.8,Mujeres republicanas
68576,tt7813466,9.8,None
40726,tt3862814,9.8,Maasai 10th Lost Tribe of Israel
48853,tt4818518,9.8,Hiro's Table
705,tt10177960,9.8,None
68224,tt7724146,9.8,None
59535,tt6143970,9.8,La Lección de Anatomía
60598,tt6271662,9.8,Belt
8946,tt1740810,9.7,Love on a Leash
669,tt10146728,9.7,None
67350,tt7541970,9.7,From Shock to Awe
73696,tt9787524,9.7,None
65296,tt7131622,9.7,#9
48904,tt4824256,9.7,Blackbear
69801,tt8118944,9.7,My Darling Son
51823,tt5160520,9.7,Silver Wings/Flying Dreams The Complete Story ...
71545,tt8718580,9.7,None
649,tt10121022,9.7,Free Spaces
730,tt10204276,9.7,None
66714,tt7414870,9.7,MANRY AT SEA ~ In the Wake of a Dream
66558,tt7385120,9.6,Ce qui nous reste
69770,tt8109740,9.6,30 KM/H

In [155]:
movie_titles_rating = pd.read_sql("""
                                    SELECT 
                                        movie_ratings.movie_id, movie_ratings.averagerating, movie_basics.primary_title AS movie
                                    FROM 
                                        movie_ratings
                                        LEFT JOIN movie_basics
                                            ON movie_ratings.movie_id = movie_basics.movie_id
                                    
                                    """, con)
movie_titles_rating.head(50)

,movie_id,averagerating,movie
0,tt10356526,8.3,Laiye Je Yaarian
1,tt10384606,8.9,Borderless
2,tt1042974,6.4,Just Inès
3,tt1043726,4.2,The Legend of Hercules
4,tt1060240,6.5,Até Onde?
5,tt1069246,6.2,Habana Eva
6,tt1094666,7.0,The Hammer
7,tt1130982,6.4,The Night Clerk
8,tt1156528,7.2,Silent Sonata
9,tt1161457,4.2,Vanquisher
10,tt1171222,5.1,Baggage Claim
11,tt1174693,5.8,The Four-Faced Liar
12,tt1181840,7.0,Jack and the Cuckoo-Clock Heart
13,tt1193623,8.0,Buried Prayers
14,tt1199588,5.5,Black Widow
15,tt1204784,5.8,Maverick and Ariel's First Ever Ever Movie Hol...
16,tt1210166,7.6,Moneyball
17,tt1212419,6.5,Hereafter
18,tt1220911,5.0,Why I Did (Not) Eat My Father
19,tt1229238,7.4,Mission: Impossible - Ghost Protocol
20,tt1232829,7.2,21 Jump Street
21,tt1235548,6.6,VIPs
22,tt1243974,5.4,Aloha
23,tt1250861,6.2,Under the Boardwalk: The Monopoly Story
24,tt1258812,4.0,War of the Gods
25,tt1261945,4.4,Sex and the City 2
26,tt1266037,7.0,Quartier lointain
27,tt1270291,5.8,Hunter Prey
28,tt1270761,5.6,Don't Be Afraid of the Dark
29,tt1272886,6.1,Small Apartments
30,tt1274297,5.4,Weddings and Other Disasters
31,tt1283887,5.4,Burning Palms
32,tt1285219,3.4,Ghosts Don't Exist
33,tt1287879,7.7,America Stripped
34,tt1290476,7.2,Obituary of the Sun
35,tt1294141,4.5,Dancing Ninja
36,tt1320239,6.2,Burke and Hare
37,tt1322312,6.3,Going the Distance
38,tt1323962,5.1,Andrey Iskanov's Ingression
39,tt1325014,6.7,The People vs. George Lucas
40,tt1325019,7.2,The Custom Mary
41,tt1326743,8.4,California State of Mind: The Legacy of Pat Brown
42,tt1327602,7.8,Two Days in February
43,tt1328913,5.2,Preacher's Kid
44,tt1331329,3.6,The Final Storm
45,tt1332570,2.1,Night Terrors
46,tt1343110,2.5,Speed-Dating
47,tt1343740,4.6,Paradox
48,tt1346690,7.7,Music Makes a City: A Louisville Orchestra Story
49,tt1352393,7.7,Little Secret

In [157]:
movie_titles_rating.loc[movie_titles_rating['movie_id']=='tt1042974']

    movie_id  averagerating      movie
2  tt1042974            6.4  Just Inès

In [47]:
df_bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df_bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [24]:
df_rt_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
df_rt_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [27]:
df_rt_review = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding='unicode escape')
df_rt_review.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [ ]:
df_rt

In [28]:
df_tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')
df_tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [29]:
df_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
df_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [38]:
df_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

In [73]:
# df_budgets.sort_values(by='production_budget')

In [74]:
# df_budgets['production_budget'][0][0]

In [61]:
df_budgets['budgets'] = df_budgets['production_budget'].str.replace('$','').str.replace(',', '').astype(int)
df_budgets['dom_gross'] = df_budgets['domestic_gross'].str.replace('$','').str.replace(',', '').astype(int)

In [64]:
df_budgets['world_gross'] = df_budgets['worldwide_gross'].str.replace('$','').str.replace(',', '').astype('int64')

In [72]:
df_budgets.sort_values(by='budgets')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,budgets,dom_gross,world_gross
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041",1100,181041,181041
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,1400,0,0
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338",5000,1338,1338
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495",6000,48482,240495
5776,77,"Dec 31, 2004",The Mongol King,"$7,000",$900,$900,7000,900,900
5775,76,"May 26, 2006",Cavite,"$7,000","$70,071","$71,644",7000,70071,71644
5774,75,"Oct 8, 2004",Primer,"$7,000","$424,760","$841,926",7000,424760,841926
5773,74,"Feb 26, 1993",El Mariachi,"$7,000","$2,040,920","$2,041,928",7000,2040920,2041928
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0,7000,0,0
5772,73,"Jan 13, 2012",Newlyweds,"$9,000","$4,584","$4,584",9000,4584,4584
5765,66,"Mar 9, 2001",Dayereh,"$10,000","$673,780","$673,780",10000,673780,673780
5768,69,"May 28, 2004",On the Downlow,"$10,000","$1,987","$1,987",10000,1987,1987
5766,67,"Apr 28, 2006",Clean,"$10,000","$138,711","$138,711",10000,138711,138711
5770,71,"Aug 14, 2008",The Rise and Fall of Miss Thang,"$10,000",$401,$401,10000,401,401
5771,72,"May 19, 2015",Family Motocross,"$10,000",$0,$0,10000,0,0
5769,70,"Apr 1, 1996",Bang,"$10,000",$527,$527,10000,527,527
5767,68,"Jul 6, 2001",Cure,"$10,000","$94,596","$94,596",10000,94596,94596
5764,65,"Dec 31, 2007",Tin Can Man,"$12,000",$0,$0,12000,0,0
5763,64,"Apr 28, 2006",Grip: A Criminal's Story,"$12,000","$1,336","$1,336",12000,1336,1336
5762,63,"Apr 11, 1997",Pink Flamingos,"$12,000","$413,802","$413,802",12000,413802,413802
5761,62,"Dec 31, 2014",Stories of Our Lives,"$15,000",$0,$0,15000,0,0
5760,61,"Apr 2, 2010",Breaking Upwards,"$15,000","$115,592","$115,592",15000,115592,115592
5759,60,"Jun 2, 2006",The Puffy Chair,"$15,000","$194,523","$195,254",15000,194523,195254
5758,59,"Nov 25, 2011",The Ridges,"$17,300",$0,$0,17300,0,0
5754,55,"Dec 31, 2003",Flywheel,"$20,000",$0,$0,20000,0,0
5756,57,"Apr 21, 2015",The Front Man,"$20,000",$0,$0,20000,0,0
5757,58,"Dec 1, 2003",Steel Spirit,"$20,000",$0,$0,20000,0,0
5755,56,"Jan 4, 2013",All Superheroes Must Die,"$20,000",$0,$0,20000,0,0
5753,54,"Dec 31, 2014",Dry Spell,"$22,000",$0,$0,22000,0,0
5752,53,"Aug 1, 1991",Slacker,"$23,000","$1,227,508","$1,227,508",23000,1227508,1227508
...,...,...,...,...,...,...,...,...,...
26,27,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897",225000000,623279547,1517935897
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288",225000000,141621490,417341288
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518",225000000,291045518,667999518
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812",225000000,423315812,1066215812
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078",230000000,169368427,591692078
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137",230000000,172558876,788241137
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065",232000000,200120000,374085065
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267",250000000,225764765,1234846267
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621",250000000,255119788,945577621
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855",250000000,258366855,960366855
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767",250000000,302089278,935213767
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",250000000,303003568,1017003568
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",250000000,330360194,867500281
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",250000000,408084349,1140069413
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230",258000000,336530303,894860230
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240",260000000,200821936,586477240
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",275000000,448139099,1084439099
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",275000000,213767512,393151347
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100",275000000,73058679,282778100
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",275000000,89302115,260002115
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",300000000,200074175,879620923
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",300000000,229024295,655945209
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425",300000000,309420425,963420425
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",300000000,678815482,2048134200
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",306000000,936662225,2053311220
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",317000000,620181382,1316721747
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",330600000,459005868,1403013963
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",350000000,42762350,149762350
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",410600000,241063875,1045663875
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",425000000,760507625,2776345279

In [159]:
budget_rating_df = pd.merge(movie_titles_rating,df_budgets, on='movie')
budget_rating_df.head(50)

,movie_id,averagerating,movie,id,release_date,production_budget,domestic_gross,worldwide_gross,budgets,dom_gross,world_gross
0,tt1043726,4.2,The Legend of Hercules,42,"Jan 10, 2014","$70,000,000","$18,848,538","$58,953,319",70000000,18848538,58953319
1,tt1094666,7.0,The Hammer,50,"Mar 21, 2008","$850,000","$442,638","$442,638",850000,442638,442638
2,tt3096900,6.5,The Hammer,50,"Mar 21, 2008","$850,000","$442,638","$442,638",850000,442638,442638
3,tt1171222,5.1,Baggage Claim,38,"Sep 27, 2013","$8,500,000","$21,569,509","$22,885,836",8500000,21569509,22885836
4,tt1210166,7.6,Moneyball,15,"Sep 23, 2011","$50,000,000","$75,605,492","$111,300,835",50000000,75605492,111300835
5,tt1212419,6.5,Hereafter,61,"Oct 15, 2010","$50,000,000","$32,746,941","$108,660,270",50000000,32746941,108660270
6,tt1232829,7.2,21 Jump Street,44,"Mar 16, 2012","$42,000,000","$138,447,667","$202,812,429",42000000,138447667,202812429
7,tt1243974,5.4,Aloha,3,"May 29, 2015","$37,000,000","$21,052,030","$25,387,091",37000000,21052030,25387091
8,tt1261945,4.4,Sex and the City 2,16,"May 27, 2010","$95,000,000","$95,347,692","$294,680,778",95000000,95347692,294680778
9,tt1270761,5.6,Don't Be Afraid of the Dark,43,"Aug 26, 2011","$25,000,000","$24,046,682","$39,126,427",25000000,24046682,39126427
10,tt1272886,6.1,Small Apartments,90,"Feb 8, 2013","$2,000,000",$0,$0,2000000,0,0
11,tt1322312,6.3,Going the Distance,11,"Sep 3, 2010","$32,000,000","$17,804,299","$43,603,990",32000000,17804299,43603990
12,tt6135412,3.9,Going the Distance,11,"Sep 3, 2010","$32,000,000","$17,804,299","$43,603,990",32000000,17804299,43603990
13,tt1376213,5.4,The Adventurer: The Curse of the Midas Box,29,"Jan 10, 2014","$25,000,000",$0,$0,25000000,0,0
14,tt1403981,7.1,Remember Me,51,"Mar 12, 2010","$16,000,000","$19,068,240","$56,506,120",16000000,19068240,56506120
15,tt4843358,5.2,Remember Me,51,"Mar 12, 2010","$16,000,000","$19,068,240","$56,506,120",16000000,19068240,56506120
16,tt1460743,6.9,Reign of Assassins,28,"Nov 1, 2016","$14,000,000",$0,"$11,354,230",14000000,0,11354230
17,tt1499658,6.9,Horrible Bosses,34,"Jul 8, 2011","$35,000,000","$117,538,559","$212,417,601",35000000,117538559,212417601
18,tt1535109,7.8,Captain Phillips,92,"Oct 11, 2013","$55,000,000","$107,136,417","$220,648,184",55000000,107136417,220648184
19,tt1549572,7.0,Another Earth,48,"Jul 22, 2011","$175,000","$1,321,194","$2,102,779",175000,1321194,2102779
20,tt1582507,5.6,House at the End of the Street,73,"Sep 21, 2012","$6,900,000","$31,611,916","$44,103,982",6900000,31611916,44103982
21,tt1584131,3.7,The Last Godfather,41,"Apr 1, 2011","$13,400,000","$164,247","$164,247",13400000,164247,164247
22,tt1608290,4.7,Zoolander 2,64,"Feb 12, 2016","$50,000,000","$28,848,693","$55,348,693",50000000,28848693,55348693
23,tt1629757,7.2,Chasing Mavericks,67,"Oct 26, 2012","$20,000,000","$6,002,756","$8,300,821",20000000,6002756,8300821
24,tt1640484,5.7,Jumping the Broom,93,"May 6, 2011","$7,000,000","$37,295,394","$38,158,601",7000000,37295394,38158601
25,tt1655420,7.0,My Week with Marilyn,22,"Nov 23, 2011","$10,000,000","$14,597,405","$34,240,572",10000000,14597405,34240572
26,tt1661420,7.3,Polisse,24,"May 18, 2012","$8,900,000","$176,988","$22,744,132",8900000,176988,22744132
27,tt1663202,8.0,The Revenant,27,"Dec 25, 2015","$135,000,000","$183,637,894","$532,938,302",135000000,183637894,532938302
28,tt3300078,6.0,The Revenant,27,"Dec 25, 2015","$135,000,000","$183,637,894","$532,938,302",135000000,183637894,532938302
29,tt1681370,5.3,The Algerian,46,"Jun 26, 2015","$1,300,000",$0,$0,1300000,0,0
30,tt1714206,7.1,The Spectacular Now,22,"Aug 2, 2013","$2,500,000","$6,852,971","$6,916,951",2500000,6852971,6916951
31,tt1726589,5.6,L!fe Happens,34,"Apr 13, 2012","$930,000","$30,905","$30,905",930000,30905,30905
32,tt1758741,6.4,People Like Us,60,"Jun 29, 2012","$16,000,000","$12,431,792","$12,617,472",16000000,12431792,12617472
33,tt1716777,7.1,People Like Us,60,"Jun 29, 2012","$16,000,000","$12,431,792","$12,617,472",16000000,12431792,12617472
34,tt1792647,6.8,Cirque du Soleil: Worlds Away,77,"Dec 21, 2012","$25,000,000","$12,512,862","$28,012,862",25000000,12512862,28012862
35,tt0979434,5.0,Lottery Ticket,90,"Aug 20, 2010","$17,000,000","$24,719,879","$24,719,879",17000000,24719879,24719879
36,tt0985694,6.6,Machete,18,"Sep 3, 2010","$12,500,000","$26,593,646","$46,370,970",12500000,26593646,46370970
37,tt10075374,8.3,The Little Prince,19,"Feb 12, 2016","$77,500,000","$1,311,213","$102,028,919",77500000,1311213,102028919
38,tt5317732,7.8,The Little Prince,19,"Feb 12, 2016","$77,500,000","$1,311,213","$102,028,919",77500000,1311213,102028919
39,tt1754656,7.7,The Little Prince,19,"Feb 12, 2016","$77,500,000","$1,311,213","$102,028,919",77500000,1311213,102028919
40,tt6925204,5.4,Genius,10,"Jun 10, 2016","$17,000,000","$1,361,045","$7,265,283",17000000,1361045,7265283
41,tt7722258,4.7,Genius,10,"Jun 10, 2016","$17,000,000","$1,361,045","$7,265,283",17000000,1361045,7265283
42,tt1703957,6.6,Genius,10,"Jun 10, 2016","$17,000,000","$1,361,045","$7,265,283",17000000,1361045,7265283
43,tt8919194,6.2,Genius,10,"Jun 10, 2016","$17,000,000","$1,361,045","$7,265,283",17000000,1361045,7265283
44,tt7076838,5.6,Adam,59,"Jul 29, 2009","$3,200,000","$2,283,291","$2,834,485",3200000,2283291,2834485
45,tt4113020,7.8,Adam,59,"Jul 29, 2009","$3,200,000","$2,283,291","$2,834,485",3200000,2283291,2834485
46,tt6316466,6.8,Adam,59,"Jul 29, 2009","$3,200,000","$2,283,291","$2,834,485",3200000,2283291,2834485
47,tt10199664,6.3,Adam,59,"Jul 29, 2009","$3,200,000","$2,283,291","$2,834,485",3200000,2283291,2834485
48,tt7166214,6.8,Bobby,8,"Nov 17, 2006","$14,000,000","$11,242,801","$20,597,806",14000000,11242801,20597806
49,tt8439948,8.9,Bobby,8,"Nov 17, 2006","$14,000,000","$11,242,801","$20,597,806",14000000,11242801,20597806